* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin: 0 0 2rem 2rem;
}

button {
  color: #FFF;
  background-color: blue;
  width: 9rem;
  height: 3rem;
  margin-left: 7rem;
}

h3 {
  text-decoration: underline;
  margin: 1.75rem 0;
}

li {
  list-style: none;
}

.spanners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80vw;
}

span {
  justify-content: space-between;
}